*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section{
    padding: 40px;
}

.container{
    width: 1000px;
    margin: auto;
    display: flex;
}

button{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    border: none;
}

h2{
    font-size: 35px;
    margin-bottom: 20px;
}



/* header  */
.background-col{
    background-color: #265DE8;
    padding: 10px;
}

.container.head{
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo, .login{
    display: flex;
    flex-basis: 20%;
}

.logo img{
    max-width: 140px;
}

.login{
    justify-content: end;
    padding: 12px 0;
}

.link{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

li.menu-item{
    display: inline-block;
    margin: 22px;

}

a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}




/* hero  */
.section.hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.box-hero{
    width: 800px;
    margin: auto;
    text-align: center;
}

.h1-hero{
    margin-top: 50px;
    margin-bottom: 25px;
    color: white;
    font-size: 50px;
}

.p-hero{
    max-width: 700px;
    margin: 0 auto 10px auto;
    color: white;
    font-size: 20px;
    line-height: 25px;
}

.botton-couple{
    margin-bottom: 50px;
}

.btn-hero-rght{
    color: white;
    background-color: black;
}

.btn-hero-lft, .btn-hero-rght{
    font-size: 20px;
    margin: 5px;
}




/* section one & three */
.container.one, .container.three{
    margin: 50px auto;
}

.img-column{
    flex-basis: 60%;
}

.txt-column{
    max-width: 250px;
    flex-basis: 40%;
    margin-top: 35px;
}



/* section two  */
.container.two{
    margin: 50px auto;
}



/* section four  */
.container.big{
    display: flex;
    justify-content: center;
}

.big-box-txt, .small-box-txt{
    margin: auto;
    text-align: center;
    max-width: 800px;
}

.small-box-txt h3{
    padding: 25px;
}

.section.four{
    margin: 30px auto;
}

.last-button{
    background-color: #7189DA;
    color: white;
}


/* footer top  */
.lft-box{
    flex-basis: 25%;
}

.rght-box{
    flex-basis: 75%;
    display: flex;
}

.inside-rght{
    width: 25%;
}

footer{
    background-color: rgb(51, 47, 47);
    padding: 15px 0 0 0;
    color: white;
    
}

.lft-box h3{
    color: #7189DA;
    font-size: 26px;
    padding-bottom: 8px;
}

.ul-footer li{
    margin-top: 12px;
    font-size: 14px;
    color: white;
}

.ul-footer{
    list-style-type: none;
    font-size: 12px;
    color: #7189DA;
}



/* footer bottom  */
.container.footer-btm{
    border-top: 1px solid #7189DA;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 60px;
}

.footer-button{
    background-color: #7189DA;
    color: white;
}